USE [TaskDB]
GO
/****** Object:  Table [dbo].[Task]    Script Date: 2024/01/18 02:55:12 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Task](
	[Id] [int] NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
	[Assignee] [nvarchar](200) NOT NULL,
	[DueDate] [datetime] NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_Task] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 2024/01/18 02:55:13 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserName] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Task] ([Id], [Title], [Description], [Assignee], [DueDate], [Status]) VALUES (43, N'عنوان  مهمة جديد43', N'وصف مهمة جديدة43', N'موظف43', CAST(N'2024-01-01T00:00:00.000' AS DateTime), 0)
INSERT [dbo].[Task] ([Id], [Title], [Description], [Assignee], [DueDate], [Status]) VALUES (44, N'عنوان  مهمة جديد44', N'وصف مهمة جديدة44', N'موظف44', CAST(N'2024-01-01T00:00:00.000' AS DateTime), 0)
INSERT [dbo].[Task] ([Id], [Title], [Description], [Assignee], [DueDate], [Status]) VALUES (49, N'عنوان  مهمة جديد49', N'وصف مهمة جديدة49', N'موظف49', CAST(N'2024-01-01T00:00:00.000' AS DateTime), 0)
GO
INSERT [dbo].[User] ([UserName], [Password]) VALUES (N'admin', N'123')
GO
ALTER TABLE [dbo].[Task] ADD  CONSTRAINT [DF_Task_Title]  DEFAULT ('') FOR [Title]
GO
ALTER TABLE [dbo].[Task] ADD  CONSTRAINT [DF_Task_Description]  DEFAULT ('') FOR [Description]
GO
ALTER TABLE [dbo].[Task] ADD  CONSTRAINT [DF_Task_Assignee]  DEFAULT ('') FOR [Assignee]
GO
ALTER TABLE [dbo].[Task] ADD  CONSTRAINT [DF_Task_DueDate]  DEFAULT ('') FOR [DueDate]
GO
ALTER TABLE [dbo].[Task] ADD  CONSTRAINT [DF_Task_Status]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_Password]  DEFAULT ('') FOR [Password]
GO
